* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: red;
    .box {
        display: flex;
    }
    .b {
        outline: 4px solid gray;
        height: 20vh;
        margin: auto .5vw;
        margin-top: 1vh;
        z-index: 99;
        .g {
            outline: 2px solid gold;
            width: 2px;
            margin-top: .2vh;
            margin-left: 2px;
            opacity: 99.99%;
        }
    }
    .cars {
        margin: 1vh .5vw;
        img {
            width: 99vw;
            position: fixed;
            top: 0;
            z-index: -1;
            opacity: 0.1;
        }
    }
}